<?xml version="1.0" ?>
<sdf version="1.4">
  <model name="rock">
    <static>false</static>
    <link name="rock">
      <collision name="collision">
        <pose>0 0 0.2 0 0 0</pose>
        <geometry>
          <cylinder>
            <radius>0.42</radius>
            <length>0.4</length>
          </cylinder>
        </geometry>
      </collision>

      <visual name="visual">
        <cast_shadows>false</cast_shadows>
        <pose>0 0 0 0 0 0</pose>
        <geometry>
          <mesh>
            <uri>model://rock/meshes/rock_s.dae</uri>
            <scale>1.0 1.0 1.0</scale>
          </mesh>
        </geometry>
      </visual>
    </link>
  </model>
</sdf>
