<?xml version="1.0" encoding="UTF-8"?>
<sdf version='1.9'>
  <model name='x500_lidar_2d'>
    <include merge='true'>
      <uri>model://x500_base</uri>
    </include>
{% include '_x500_motors.sdf.jinja' %}
    <include merge='true'>
      <uri>model://lidar_2d_v2</uri>
      <pose>.12 0 .26 0 0 0</pose>
    </include>
    <joint name="LidarJoint" type="fixed">
      <parent>base_link</parent>
      <child>link</child>
      <pose relative_to="base_link">-.1 0 .26 0 0 0</pose>
    </joint>
  </model>
</sdf>
