<?xml version="1.0" encoding="UTF-8"?>
<sdf version='1.9'>
  <model name='x500'>
    <include merge='true'>
      <uri>model://x500_base</uri>
    </include>
{% include '_x500_motors.sdf.jinja' %}
  </model>
</sdf>
